<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9Djg-Ae1ghAIK8aM2DoDvBBeJPj3QW-s</string>
	<key>GCM_SENDER_ID</key>
	<string>817067518210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendorsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>subash-app-cdb21</string>
	<key>STORAGE_BUCKET</key>
	<string>subash-app-cdb21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817067518210:ios:648e0e27601800bee03a1b</string>
</dict>
</plist>